@model ROS.Web.Models.Club


@{
    ViewData["Title"] = "Apply";
}
<div class="container-fluid">
    <br />
    <div class="card">
        <div class="card-header">
            Ansökan om medlemskap i <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
        </div>
        <div class="card-body">

            <form asp-action="Apply">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Bekräfta" class="btn btn-lg btn-outline-danger float-left" />
            </form>
        </div>
        <div class="card-footer">
            <form asp-action="index">
                <button class="btn btn-outline-info float-right">Tillbaka</button>
            </form>
        </div>
    </div>

</div>