@model ROS.Web.Models.Club


@{
    ViewData["Title"] = "Apply";
}
<div class="container-fluid">
    <br />
    Ansökan om medlemskap i <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>

    <form asp-action="Apply">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Bekräfta" class="btn btn-lg btn-success float-left" />
    </form>

    <form asp-action="index">
        <button class="btn btn-outline-info btn-lg ml-2">Tillbaka</button>
    </form>
</div>