@model ROS.Web.Models.Club


@{
    ViewData["Title"] = "Apply";
}


<h2>Apply</h2>

<div>
    <form asp-action="Apply">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Bekräfta" class="btn btn-default" />
    </form>
</div>