@model ROS.Web.Models.Club

@{
    ViewData["Title"] = "Create";
}
<h4>Skapa</h4>
<div>
    <h1 class="display-4">Klubb</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FoundedDate) <br />
                @Html.TextBoxFor(m => m.FoundedDate, "{0:dd/MM/yyy}", new { placeholder = " dd/mm/åååå ", @class = "form-control" })
                <span asp-validation-for="FoundedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-outline-dark" />
                <a asp-action="Index" class="btn btn-outline-info ml-2">Tillbaka</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
