@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Ändra ditt lösenord</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    Du har inte ett lokalt användarnamn/lösenord för denna sidan. Lägg till ett lokalt konto för att logga in utan extern inloggning. 
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                Nytt lösenord
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                Konfirmera ditt lösenord
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Spara lösenord</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
