@model ShowRecoveryCodesViewModel
@{
    ViewData["Title"] = "Återställningskoder";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Spara dessa koder på en säker plats.</strong>
    </p>
    <p>
        Om du förlorar din mackapär och inte har återställningskoder kommer du att förlora tillgång till ditt konto.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code>@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>