@model ROS.Web.Models.Regatta

@{
    ViewData["Title"] = "Create";
}

<h4>Skapa</h4>

<h1 class="display-4">Regatta</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <span class="max-glyph-count" id="titleChars">(50 tecken kvar)</span>
                <input asp-for="Title" class="form-control" id="titletextChars" maxlength="50"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <span class="max-glyph-count" id="descChars">(1000 tecken kvar)</span>
                <textarea asp-for="Description" class="form-control" id="desctextChars" maxlength="1000"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="map" style="height:300px; width: 100%;"></div>
                <!-- Replace the value of the key parameter with your own API key. -->
                <script src="~/js/maps.js"></script>

                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyADpGQkpO2VrLNxfIAUZ2BU_kKbMg2mZ2o&callback=initialize">
                </script>

                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" placeholder="Adress eller koordinat" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
                <input id="mapsGeocode" class="btn btn-info" type="button" value="Visa på kartan" onclick="codeAddress()">
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}


<script src="~/js/site.js" asp-append-version="true"></script>
