@model IEnumerable<ROS.Web.Models.Regatta>

@{
    ViewData["Title"] = "Index";
}

<h2>Regattor</h2>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@foreach (var item in Model)
{
    @await Html.PartialAsync("Partial/RegattaPartialView", item)
}
