@model IEnumerable<ROS.Web.Models.Regatta>

@{
    ViewData["Title"] = "PastRegattas";
}

<h1 class="display-4">Tidigare Regattor</h1>
<hr />
@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Skapa ny</a>
    </p>
}
<div class="row no-gutters">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("Partial/RegattaPartialView", item)
    }
</div>
