@using ROS.Web.Models.RegattaViewModels

@model RegattaRegistrationViewModel

@{
    ViewData["Title"] = "Register";
}

<h4>@Model.Regatta.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedBoatId)
                @Html.DropDownListFor(m => m.SelectedBoatId, Model.BoatItems, new { @class = "form-control" } )
                @Html.ValidationMessageFor(m => m.SelectedBoatId)
            </div>
            <div class="form-group">
                <label asp-for="Message"/>
                <textarea asp-for="Message" placeholder="Lämna meddelande till arrangören" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button asp-action="Index" value="Avbryt" class="btn btn-default" />
                <input type="submit" value="Bekräfta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
