@model ROS.Web.Models.AdminViewModels.AdminViewModel;

@{
    ViewData["Title"] = "Index";
}

<h2>Admin</h2>

<a asp-action="usermanagement" class="btn btn-sm btn-secondary"> Users</a>
<a asp-action="boatmanagement" class="btn btn-sm btn-secondary"> Boats</a>
<a asp-action="clubmanagement" class="btn btn-sm btn-secondary"> Clubs</a>
<a asp-action="regattamanagement" class="btn btn-sm btn-secondary"> Regattas</a>
