
@{
    ViewData["Title"] = "Index";
}

<h2>Admin</h2>

<a asp-action="UserManagement" class="btn btn-sm btn-secondary"> Users</a>
<a asp-action="BoatManagement" class="btn btn-sm btn-secondary"> Boats</a>
<a asp-action="ClubManagement" class="btn btn-sm btn-secondary"> Clubs</a>
<a asp-action="RegattaManagement" class="btn btn-sm btn-secondary"> Regattas</a>
