
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="display-4">Admin</h1>
</div>
<hr />

<p></p>
<a asp-action="UserManagement" class="btn btn-sm btn-secondary"> Användare</a>
<a asp-action="BoatManagement" class="btn btn-sm btn-secondary"> Båtar</a>
<a asp-action="ClubManagement" class="btn btn-sm btn-secondary"> Klubbar</a>
<a asp-action="RegattaManagement" class="btn btn-sm btn-secondary"> Regattor</a>
