.container {
    position: relative;
    text-align: center;
    color: white;
}

.news {
    border-top-width: thick;
    position: relative;
    text-align: left;
    color: black;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    padding-bottom: 20px;
}

nav {
    background-color: #085394;
    height: 10vh;
}

.container-fluid {
    height: 100%;
    background-color: black;
    color: black;
}

#sidebar {
    min-width: 170px;
    max-width: 170px;
    height: 90vh;
    overflow: hidden;
    z-index: 3;
    background-color: black;
}

    #sidebar .list-group-item {
        background-color: black;
        color: white;
    }


footer {
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 1.7em;
    clear: both;
}

.jumbotron {
    background: linear-gradient( rgba(39, 39, 39, 0.2), rgba(39, 39, 39, 0.5) ),url(/images/beach-blue-boat-996328.jpg);
    height: 90vh;
    width: 175vh;
    background-size: cover;
}

.jumbotronOld {
    /* The image used */
    background-image: url(/images/beach-blue-boat-996328.jpg);
    /* Full height */
    height: 90vh;
    width: 180vh;
    /* Center and scale the image nicely */
    background-position: center,bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        transition: all 0.25s ease;
        position: fixed;
        height: 100%;
        z-index: 3;
        transform: translateX(0);
        visibility: visible;
    }

        #sidebar, #sidebar .list-group {
            min-width: 35px;
            overflow: visible;
        }

            #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
                position: relative;
                z-index: 1;
                width: 190px;
                top: 0;
            }

            #sidebar, #sidebar .list-group {
                min-width: 35px;
            }
                /* overlay sub levels on small screens */
                #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
                    position: relative;
                    z-index: 1;
                    width: 190px;
                    top: 0;
                }

                #sidebar .list-group > .list-group-item {
                    text-align: center;
                    padding: .75rem .5rem;
                }
}





/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#mapsGeocode {
    margin-top: 10px;
}

.max-glyph-count {
    color: slategray;
}

/*Boat details page*/

#boat-details-handicap {
    margin: 0 0 10px 0;
}

    #boat-details-handicap th {
        padding: 5px;
    }

    #boat-details-handicap tr > td {
        text-align: center;
    }

.table-margined {
    margin: 10px;
}

.small-text-grey {
    font-size: 0.8em;
    color: slategray;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


