@model IEnumerable<ROS.Web.Models.Regatta>

@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1 style="font-size: 65px; color: white; text-align: center">Välkommen till ROS</h1>
    <hr />
    <div class="row no-gutters">
        @foreach (Regatta R in Model)
        {
            @await Html.PartialAsync("../Regattas/Partial/RegattaPartialView", R)
        }
    </div>
</div>





