@model ROS.Web.Models.ApplicationUser

@{
    ViewData["Title"] = "LandingPage";
}



<div class="jumbotron">
    <h1 style="font-size: 65px; color: white; text-align: center">Välkommen @Model.FirstName @Model.LastName</h1>
    <hr />
    <li class="page-item">
        Antal aktiva ansökningar
        @if (Model.Applications != null)
        {
            <span class="badge badge-success" style="vertical-align: top">
                @Model.Applications.Count();
            </span>
        }
        else
        {
            <span class="badge badge-success" style="vertical-align: top">
                0
            </span>
        }

    </li>
</div>


