@model ROS.Web.Models.LandingPageViewModels.LandingPageViewModel

@{
    ViewData["Title"] = "LandingPage";
}



<div class="jumbotron">
    <h1 class="HeaderSize">Välkommen @Model.FirstName @Model.LastName</h1>
    <hr />
    <h3 class="SmallHeaderSize">
        Antal aktiva ansökningar till dina klubbar 
        @if (Model.Applications != null)
        {
            <span class="badge badge-success" style="vertical-align: top">
                @Model.Applications.Count()
            </span>
        }
        else
        {
            <span class="badge badge-success" style="vertical-align: top">
                0
            </span>
        }
    </h3>
</div>


