@model ROS.Web.Models.Boat

@{
    ViewData["Title"] = "Create";
}

<h1 class="font-weight-bold">Lägg in ny båt</h1>

<h4>Båt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="Type" class="form-control tabelltext" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="Certificate" class="form-control tabelltext" />
                <span asp-validation-for="Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandicapStandardWithForesail" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="HandicapStandardWithForesail" class="form-control tabelltext" />
                <span asp-validation-for="HandicapStandardWithForesail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandicapStandardWithoutForesail" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="HandicapStandardWithoutForesail" class="form-control tabelltext" />
                <span asp-validation-for="HandicapStandardWithoutForesail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandicapShorthandedWithForesail" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="HandicapShorthandedWithForesail" class="form-control tabelltext" />
                <span asp-validation-for="HandicapShorthandedWithForesail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandicapShorthandedWithoutForesail" class="control-label lead text-dark font-weight-bold tabellhuvve"></label>
                <input asp-for="HandicapShorthandedWithoutForesail" class="form-control tabelltext" />
                <span asp-validation-for="HandicapShorthandedWithoutForesail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg in båt" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
