@model ExternalLoginViewModel

<h3>Koppla ditt @ViewData["LoginProvider"]-konto.</h3>
<hr />
<p class="text-info">
    Du har loggat in med <strong>@ViewData["LoginProvider"]</strong>. <br />
    Eftersom det är första gången du loggar in vill vi gärna veta lite mer om dig
    för att kunna förbättra din upplevelse. <br />
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6 required">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group col-md-6 required">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    
                </div>
            </div>
            <div class="form-group required">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group required">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 required">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                </div>
                <div class="form-group col-md-6 required">
                    <label asp-for="IcePhone" class="form-label"></label> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Nummer till en närstående som vi kan kontakta om något skulle hända under en regatta"></i>
                    <input asp-for="IcePhone" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
