@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ROS.Web</title>
    <link rel="application/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    @*<nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-light" href="/">ROS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-text">
                    @await Html.PartialAsync("_LoginPartial")
                </span>

            </div>
        </nav>*@
    <div class="container-fluid sticky-top">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            <div class="col-md-3 float-left col-1 pl-0 pr-0 width show" id="sidebar">
                <div class="list-group border-0 card text-center text-md-left">
                    <a asp-controller="Home" asp-action="Index" class="list-group-item d-inline-block"><i class="fa fa-home"></i> <span class="d-none d-md-inline">Hem</span></a>
                    <a asp-controller="Boats" asp-action="Index" class="list-group-item d-inline-block"><i class="fa fa-anchor"></i> <span class="d-none d-md-inline">Båtar</span></a>
                    <a href="#menu3" class="list-group-item d-inline-block" data-toggle="collapse" aria-expanded="false"><i class="fas fa-users"></i> <span class="d-none d-md-inline">Klubb</span></a>
                    <div class="collapse" id="menu3" data-parent="#sidebar" style="">
                        <a asp-controller="Clubs" asp-action="MyClubs" class="list-group-item" data-parent="#menu3">Mina Klubbar</a>
                        <a asp-controller="Clubs" asp-action="Index" class="list-group-item" data-parent="#menu3">Alla Klubbar</a>
                        <a asp-controller="Clubs" asp-action="Create" class="list-group-item" data-parent="#menu3">Skapa Klubb</a>
                    </div>

                    <a href="#menu4" class="list-group-item d-inline-block" data-toggle="collapse" aria-expanded="false"><i class="fa fa-calendar"></i> <span class="d-none d-md-inline">Regatta</span></a>
                    <div class="collapse" id="menu4" data-parent="#sidebar" style="">

                        <a asp-controller="Regattas" asp-action="Index" class="list-group-item submenu" data-parent="#menu4"> <span class="d-none d-md-inline">Kommande</span></a>

                        <a asp-controller="Regattas" asp-action="PastRegattas" class="list-group-item submenu" data-parent="#menu4"> <span class="d-none d-md-inline">Tidigare</span></a>
                        <a asp-controller="Regattas" asp-action="Create" class="list-group-item submenu" data-parent="#menu4">Skapa</a>
                    </div>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="list-group-item d-inline-block collapsed"><i class="fa fa-address-card"></i> <span class="d-none d-md-inline">Admin</span></a>
                    }
                </div>

                <div class="fixed-bottom">
                    <footer>
                        <div>
                            <span>
                                @await Html.PartialAsync("_LoginPartial")
                            </span>
                        </div>                        
                        <p>© 2018 - ROS.Web</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>